extends layout

block content
    .main
        h1= title
        if flash
            .flash= flash
        form(action="upload", method="POST")
            input(type="password", name="password")
            input(type="submit", value="Login", name="login")
